// here i made a variable where all buttons become the color blue
$primaryBtn : rgb(179, 20, 179); 
$textColor:#FFFFFF;
$primaryFont: 'Roboto' , sans-serif;
$secondaryFont: 'Montserrat';
$geel:#EEBA13 ;
